*, :before, :after
	box-sizing: border-box

a
	text-decoration: none
body
	margin: 0
	padding: 0


@font-face
	font-family: 'RobotoItalic'
	src: url('../fonts/Roboto-Italic.ttf')

@font-face
	font-family: 'RobotoBlack'
	src: url('../fonts/Roboto-Black.ttf')

@font-face
	font-family: 'RobotoMedium'
	src: url('../fonts/Roboto-Medium.ttf')

@font-face
	font-family: 'RobotoRegular'
	src: url('../fonts/Roboto-Regular.ttf')

@font-face
	font-family: 'RobotoBold'
	src: url('../fonts/Roboto-Bold.ttf')

@mixin title-h1
	font: 44px 'RobotoBlack', serif
	color: $black
	text-align: center

$white: #fff
$black: #383334
$gray: #666
$orange: #ff6b00
$green: #a7c93d
$light-blue: #f3fafc
$light-orange: #ffbf02

.features h1,
.second-screen h1,
.third-screen h1,
.fourth-screen h1,
.fifth-screen h1
	@include title-h1
.fourth-screen h1,
.fifth-screen h1
	span
		color: $orange

.border-orange
	border-bottom: 5px solid $orange
	font-style: normal
.border-green
	border-bottom: 5px solid $green
	font-style: normal
.border-orange-little
	@extend .border-orange
	border-width: 3px
.border-green-little
	@extend .border-green
	border-width: 3px
.green-border
	border: 3px solid #7bbf1c
	width: 20px
	margin-top: 40px
	margin-bottom: 15px

.color-orange-but
	color: $orange
	margin: 30px 0px 5px 14px

.container
	width: 96%
	max-width: 1170px
	margin: 0 auto


//-----------------------------------------------
// Первый экран
//-----------------------------------------------


.first-screen
	background: url(../img/bg.png) no-repeat center
	min-height: 900px
	margin-top: -40px

.header
	display: grid
	justify-content: end
	grid-template-columns: 250px 250px 230px 230px
	padding-top: 40px

.header-item
	display: grid
	grid-template-columns: 1fr 4fr
	align-items: center
	gap: 0.3rem
	&:last-child
		margin-left: 0px
	.logo
		font: 22px 'RobotoBlack', serif
		color: $black
	p
		color: $gray
		font: 16px 'RobotoItalic', serif
		padding: 0px 0px 0px 0px

.groups
	display: grid
	grid-template-columns: 1fr 1fr 1.5fr
	gap: 1rem

.tablets
	margin-top: 400px
	margin-left: -150px

.price-1,
.price-2
	position: relative
	width: 100px
	height: 40px
	text-align: center
	border-radius: 5px
	color: $white
	font: 34px 'RobotoBlack', serif
	span
		font: 34px 'RobotoMedium', serif

.price-1
	margin-top: -410px
	margin-left: 320px
	background-color: $orange

.price-2
	margin-top: 90px
	margin-left: 430px
	background-color: $green

.features
	display: grid
	margin-left: -100px
	height: auto
	h1
		text-align: left
	span
		font-size: 30px

.features-items
	display: grid
	grid-template-columns: 1fr 3fr
	align-items: center
	p
		font: 18px 'RobotoRegular', serif
	span
		font: 18px 'RobotoMedium', serif

.order
	text-align: center
	position: relative
	p
		font: 16px 'RobotoRegular', serif

.delivery
	width: 180px
	height: 50px
	margin: 0 auto
	background-color: $light-blue
	z-index: 999
	position: relative
	border-bottom-left-radius: 10px
	border-bottom-right-radius: 10px
	p
		padding: 12px
	img
		padding-right: 15px

.order-item
	border: 7px solid $green
	border-radius: 16px
	background-color: $white
	margin-top: -35px
	h3
		margin-top: 50px
		font: 20px 'RobotoRegular', serif
		text-align: center
		padding: 0px 10px
		span
			color: $orange
			font-family: 'RobotoMedium'
	form
		display: grid
		margin-top: 20px
	p
		font: 16px 'RobotoRegular', serif
		color: #333
		margin: 0px 0px 20px 0px
		span
			color: $green
			font-family: 'RobotoMedium'

.order-row
	display: flex
	padding: 0px 10px
	div
		flex: 1
	h6
		font: 14px 'RobotoRegular', serif
		margin: 0
	h5
		margin: 5px 0px

.old-price
	h6
		color: $gray
	h5
		font: 34px 'RobotoRegular', serif
	img
		position: absolute
		padding: 8px 0px

.new-price
	h6
		color: $black
	h5
		background-color: #ffc002
		border-radius: 5px
		font: 34px 'RobotoBlack', serif
		padding: 0px
		span
			font: 34px 'RobotoMedium', serif

.data
	background-color: $light-blue
	border-bottom-left-radius: 10px
	border-bottom-right-radius: 10px
	margin-left: 1px
	height: 45px
	p
		margin: 0
		padding: 10px 0px
	img
		padding-right: 15px

input
	height: 65px
	padding-left: 50px
	align-items: center
	border-radius: 50px
	border: none
	font: 16px 'RobotoRegular', serif
	margin: 0px 10px 10px 10px

input[placeholder="Имя"]
	background: url(../img/icon-people.png) no-repeat 20px 17.5px
	background-color: $light-blue

input[placeholder="Телефон"]
	background: url(../img/icon-phone.png) no-repeat 20px 17.5px
	background-color: $light-blue

button
	background-color: #ffc002
	border-radius: 50px
	height: 65px
	font: 28px/24px 'RobotoBold', serif
	transition: 0.5s
	border: none
	margin: 10px 17px 20px 17px
	box-shadow: 0 0 0 2px #ffd94e, 0 0 0 10px #ffc002
	span
		font-size: 16px
	&:after
		border-style: double
	&:hover
		background-color: #ffd94e
		cursor: pointer
		transition: 0.5s
		box-shadow: none

//-----------------------------------------------
// Второй экран
//-----------------------------------------------

.second-screen
	p
		font: 24px 'RobotoBlack', serif
		text-align: center

.danger
	width: 100%
	display: grid
	grid-template-columns: repeat(3, 1fr)
	justify-content: space-between
	align-items: start
	gap: 3rem
	padding: 35px 0px

.danger-item
	h3
		font: 22px 'RobotoMedium', serif
	img
		margin-left: -18px
		width: 100%
	p
		color: #444
		font: 18px 'RobotoRegular', serif
		text-align: left

.danger-item-title
	width: 100%
	display: grid
	grid-template-columns: repeat(2, 1fr)
	gap: 1rem

.gray-border
	border: 3px solid #becbd8
	width: 50px
	margin-top: 30px
	margin-bottom: 20px

.stats-img
	width: 170px
	margin: auto
	z-index: 999
	position: relative
	background-color: $white
	text-align: center
	margin-top: 30px
	h2
		margin-bottom: -30px
		background: url(../img/conclusion.png) no-repeat center bottom
		background-color: $light-blue
		height: 65px

.stats
	p
		margin-top: -20px
		padding: 44px 90px
		border: 3px solid #f4d3bb
		border-radius: 5px
		font: 18px 'RobotoRegular', serif
	span
		font-family: 'RobotoMedium'


//-----------------------------------------------
// Третий экран
//-----------------------------------------------


.third-screen
	background-color: $light-blue
	height: auto
	padding-bottom: 50px
	text-align: center
	.logo
		padding-top: 70px
	.stats-img
		h2
			font: 22px 'RobotoBold', serif
			text-transform: uppercase
			background-color: $light-blue
			padding-top: 25px
	.stats
		p
			margin-top: -30px
			padding: 44px 90px

.th-s-wrapper
	display: grid
	grid-template-columns: repeat(3, 1fr)
	justify-content: space-between
	gap: 30px

.item-img
	width: 100px
	height: 100px
	margin: auto
	display: grid
	align-items: center
	justify-content: center
	border-radius: 50%
	position: relative
	background-color: $light-blue

.item-body
	margin-top: -50px
	background-color: $white
	color: $black
	padding: 10px
	border-top: 5px solid $green
	border-radius: 5px

.height-wrapper,
.height-item
	padding-top: 1px

	h3
		font: 24px 'RobotoBlack', serif
		&:first-child
			padding-top: 66px
	h4
		font: 18px 'RobotoMedium', serif
		margin-bottom: 0px
	p
		color: $gray
		font: 18px 'RobotoItalic', serif
		padding-bottom: 10px
		height: auto
	.but
		font: 18px/26px 'RobotoRegular', serif
		font-style: normal
		b
			font-family: 'RobotoBold'
			color: $black
	svg
		width: 104px
		height: 104px
		margin: 0px 0px 0px 0px
		padding: 0
		stroke: $green
		position: absolute

.arrow
	position: relative
	height: 1px

.arrow-down
	&:before
		content: ""
		position: absolute
		top: 0
		left: 5%
		right: 5%
		width: 90%
		height: 1px
		background-color: #d2dce6
	&:after
		content: ""
		position: absolute
		z-index: 1
		top: -15px
		left: calc(50% - 7px)
		width: 30px
		height: 30px
		transform: rotate(45deg)
		background-color: $white
		border-bottom: 1px solid #d2dce6
		border-right: 1px solid #d2dce6


//-----------------------------------------------
// Четвертый экран
//-----------------------------------------------


.fourth-screen
	p
		font: 24px 'RobotoRegular', serif
		text-align: center

.fo-screen-wrapper
	display: grid
	grid-template-columns: repeat(3, 1fr)
	justify-content: center
	gap: 30px
	text-align: center
	h3
		font: 24px 'RobotoBold', serif
	p
		font: 18px/26px 'RobotoRegular', serif
	span
		font-family: 'RobotoMedium'
	.div
		margin: auto
		justify-content: center
	svg
		width: 120px
		height: 120px
		margin: 20px 0px 0px -2px
		padding: 0
		stroke: #f64d01
		position: absolute
	.svg-green
		stroke: #62bd1f

.fo-item-img
	display: grid
	width: 116px
	height: 100px
	margin: auto
	align-items: center
	justify-content: center
	position: relative
	background-color: $white
	img
		z-index: 1

.fo-item-body
	padding: 40px 14px 14px 14px
	margin-top: -40px
	height: auto
	border-radius: 5px

.border-around-red
	border: 4px solid #f64d01
.border-around-green
	border: 4px solid #62bd1f

.last-title
	h1
		font: 28px 'RobotoMedium', serif
		margin-top: 28px
		padding: 20px
		border: 3px solid
		border-radius: 20px
		border-image-source: linear-gradient(45deg, #f64d01, #62bd1f)
		border-image-slice: 1
		background-origin: border-box
		background-clip: content-box, border-box


//-----------------------------------------------
// Пятый экран
//-----------------------------------------------


.fifth-screen
	padding-top: 30px
	padding-bottom: 35px
	background-color: $light-blue

.fifth-screen-wrapper
	display: grid
	grid-template-columns: repeat(2, 1fr)
	gap: 30px
	justify-content: center

.fifth-item
	display: grid
	gap: 2rem
	justify-content: end

.how-to
	display: grid
	grid-template-columns: 1fr 4fr
	gap: 1rem
	p
		font: 18px 'RobotoMedium', serif


//-----------------------------------------------
// Медиа запросы
//-----------------------------------------------


@media screen and (max-width: 767px)
	.first-screen
		background: none
	.header
		grid-template-columns: repeat(1, 1fr)
	.groups
		grid-template-columns: 1fr
	.features
		margin-left: 0px
		h1
			font-size: 34px
			br
				display: none
	.tablets
		display: none
	.invisible-lg
		display: grid
		margin-top: 50px
		img
			width: 100%
	.price-1
		margin-top: -310px
		margin-left: 220px
		background-color: $orange
	.price-2
		margin-top: -200px
		margin-left: 220px
		background-color: $green
	.delivery
		background-color: $white
	.danger
		grid-template-columns: repeat(1, 1fr)
		padding: 35px 0px
		gap: 1rem
		img
			margin-left: 0px
	.danger-item-title
		align-items: center
		grid-template-columns: 1fr 4fr
		gap: 0.5rem
	.danger-item
		margin-bottom: 0px
		p
			width: 65%
	.th-s-wrapper
		grid-template-columns: repeat(1, 1fr)
	.fo-screen-wrapper
		grid-template-columns: 1fr
	.fifth-screen-wrapper
		grid-template-columns: 1fr
	.img-how-to
		img
			width: 50%
			margin: auto

@media screen and (min-width: 767px)
	.invisible-lg
		display: none

@media screen and (min-width: 1080px)
	body
		overflow-x: hidden

@media screen and (min-width: 1160px)
	.item-body
		height: 630px
	.fo-item-body
		height: 310px

@media (min-width: 767px) and (max-width: 1000px)
	.header
		grid-template-columns: repeat(4, 1fr)
	.tablets
		margin-top: 400px
		margin-left: -200px
